.glitch_text:hover{
     animation: glitch_text;
     animation-duration: 700ms;
     animation-iteration-count: infinite;
     transition: all ease-in-out 0.5s;
}

@keyframes glitch_text {
     0%, 100%{}
     50%{text-shadow: 6px 6px 0px red, -6px -6px 0px blue, 6px -6px 0px yellow, -6px 6px 0px green;}
}